* {
  background-color: #333;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: rgb(61, 61, 61);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  margin: 30px auto;
  width: 420px;
  padding: 20px 0 40px 0;
  border-radius: 20px;
}

.container .titleContact {
  font-weight: 600;
  margin-bottom: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input {
  border-style: none;
  background-color: rgb(61, 61, 61);

  width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 4px 8px;
}

.form-container textarea {
  border-style: none;
  background-color: rgb(61, 61, 61);

  width: 300px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 4px 8px;
}

button {
  cursor: pointer;
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
  border-style: none;

  width: 80px;
  padding: 4px 0;
}

button:hover {
  background-color: rgb(73, 73, 73);
}